@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
    --dark-black: #101923;
    --light-black: #2a343f;
    --dark-blue: #182331;
    --main-blue: #33a9ff;
    --secondary-blue: #028ff4;
    --light-grey: #b1b1b1;
    --green: #0fbb79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark-black);
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.add-task {
    width: 100%;
}

.add-task form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task form>* {
    font-size: 1.2rem;
    height: 3rem;
}

.add-task form input,
.add-task form select {
    background-color: var(--light-black);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
}

.add-task form select {
    border-right: 1rem solid var(--light-black);
}

.add-task form input:focus,
.add-task form select:focus {
    outline: none;
}


.add-task form input[type='text'] {
    width: 50%;
}

.add-task form input[type='submit'] {
    background-color: var(--main-blue);
}


.task-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.task-grid .task-card {
    width: 80%;
    margin: 1rem;
    background: linear-gradient(var(--dark-blue), var(--dark-blue));
    border-radius: 10px;
    padding: 1rem;
}

.task-grid .task-card>* {
    padding: 0.5rem;
}

.task-grid .task-card .card-header {
    display: flex;
    justify-content: space-between;
}

.task-grid .task-card .card-header .header-text{
    display: flex;
    justify-content: start;
    align-items: center;
}

.task-grid .task-card .card-header .header-text .complete-task{ 
    color: white;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.task-grid .task-card .card-header .header-text .complete-task.completed{ 
    background-color: white;
    color: var(--green);
    border-radius: 5px;
}

.task-grid .task-card .card-header p {
    color: var(--light-grey);
}

.task-grid .task-card .card-header .date-time {
    color: var(--light-grey);
    text-align: right;
}

.task-grid .task-card .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.task-grid .task-card .card-controls {
    display: flex;
    justify-content: end;
}

.task-grid .task-card .card-controls button,
.task-grid .task-card .controller-btn {
    font-size: 1rem;
    border: none;
    background-color: var(--main-blue);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

.task-grid .task-card .controller-btn {
    font-size: 0.9rem;
    padding: 0.15rem;
    border-radius: 0;
    margin: 0.2rem;
}